<div class="full-page container d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-12 col-md-7 col-lg-4 p-2">
            <div class="d-flex flex-column align-items-center" style="background-color: white;border-radius: 22px;">
                <p class="license-title" style="color: #47d642;">Free</p>
                <p class="license-price" style="color: #47d642;">R$0,00<span style="font-size: 0.4em;">{{'license.monthly' | translate}}</span></p>
                <div class="my-4 d-flex flex-column align-items-start">
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.favorite_song' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.view_history' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-close"></i>
                        <p>{{'license.add_mix' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-close"></i>
                        <p>{{'license.sell_musics' | translate}}</p>
                    </div>
                </div>
                <button mat-raised-button [disabled]='true' color="primary" class="my-3 mx-1 px-5 card-2" >{{'license.assign' | translate}}</button>
            </div>            
        </div>
        <div class="col-12 col-md-7 col-lg-4 p-2">
            <div class="d-flex flex-column align-items-center" style="background-color: white;border-radius: 22px;">
                <p class="license-title" style="color: #2578af;">Cappuccino</p>
                <p class="license-price" style="color: #2578af;">R$6,99<span style="font-size: 0.4em;">{{'license.monthly' | translate}}</span></p>
                <div class="my-4 d-flex flex-column align-items-start">
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.favorite_song' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.view_history' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.add_mix' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-close"></i>
                        <p>{{'license.sell_musics' | translate}}</p>
                    </div>
                </div>
                <button mat-raised-button color="primary" class="my-3 mx-1 px-5 card-2">{{'license.assign' | translate}}</button>
            </div>            
        </div>
        <div class="col-12 col-md-7 col-lg-4 p-2">
            <div class="d-flex flex-column align-items-center" style="background-color: white;border-radius: 22px;">
                <p class="license-title" style="color: #eeb53b;">Mochaccino</p>
                <p class="license-price" style="color: #eeb53b;">R$12,99<span style="font-size: 0.4em;">{{'license.monthly' | translate}}</span></p>
                <div class="my-4 d-flex flex-column align-items-start">
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.favorite_song' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.view_history' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.add_mix' | translate}}</p>
                    </div>
                    <div class="license-items">
                        <i class="mdi mdi-check"></i>
                        <p>{{'license.sell_musics' | translate}}</p>
                    </div>
                </div>
                <button mat-raised-button color="primary" class="my-3 mx-1 px-5 card-2">{{'license.assign' | translate}}</button>
            </div>            
        </div>
    </div>
</div>
  <app-footer></app-footer>