.footer-img{
    height: 172px;
    width: 100%;
    background-image: url('../../../assets/volume.png');
}

p{
    color: white;
}

p:hover{
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

.resize{
    height: 35px;
    cursor: pointer;
}