<mat-toolbar color="primary" class="fixed-header position-fixed" style="background-color: black;">
  <mat-toolbar-row style="height: 60px;" class="d-flex flex-row justify-content-between w-100">
    <div>
      <i class="mdi mdi-menu" style="cursor: pointer;" (click)="toggleDrawer()  "></i>
    </div>
    <div class="d-flex flex-row align-items-center" style="margin-top: 16px;">
      <div class="d-flex justify-content-center flex-column align-items-center">
        <marquee class="music-title"style="font-size: 0.7em;">{{currentSong? currentSong.name : 'Caffeine Music and Sound Effects'}}</marquee>
        <div plyr style="width: 440px;" plyrType="audio" [plyrPlaysInline]="false" [plyrSources]="plyrSources" (plyrInit)="player = $event" (plyrPlay)="played($event)"
        [plyrOptions]="plyr_controls" (plyrStateChange)="played($event)"></div>
      </div>
      <div class="ml-2" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" (click)="menuTrigger.openMenu" style="cursor: pointer;">
        <i class="mdi mdi-playlist-music"></i>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="d-flex flex-row align-items-center py-2" style="height: unset;" *ngFor="let music of musicHistoric" (click)="playHistoricMusic(music)">
          <img [src]="music.img_url" class="historic_img">
          <span class="ml-2" style="color: white;">{{music.name}}</span>
        </button>
        <div class="m-3" *ngIf="musicHistoric.length == 0">
          <span style="color: white;">Nao existe nenhuma musica no Historico</span>
        </div>
      </mat-menu>
    </div>
    <div>      
      <span>Olá, Crypt Lord</span>
      <i class="mdi mdi-menu-down ml-2" (click)="goToURL('/login')" style="color: white;cursor: pointer;"></i>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="z-depth-1-half" fixedInViewport="true" #drawer mode="over" style="z-index: 19;" >
    <div style="background-color:#0c1b2b;" class="py-3">
      <img src="../assets/Caffeine logo.PNG" style="width: 100%">
    </div>      
    <mat-nav-list>
      <mat-list-item (click)="goToURL('/home')">
        <i class="mdi mdi-home" style="font-size: 1.2em;"></i>
        <span style="font-weight: 500;" class="ml-2">HOME</span>
      </mat-list-item>
        <mat-list-item (click)="goToURL('/search')">
          <i class="mdi mdi-magnify" style="font-size: 1.2em;"></i>
          <span style="font-weight: 500;" class="ml-2">BUSCAR</span>
        </mat-list-item>
        <mat-list-item (click)="play()">
          <i class="mdi mdi-tune" style="font-size: 1.2em;"></i>
          <span style="font-weight: 500;" class="ml-2">MIXAGEM</span>
        </mat-list-item>
        <mat-list-item>
          <i class="mdi mdi-star" style="font-size: 1.2em;"></i>
          <span style="font-weight: 500;" class="ml-2">FAVORITOS</span>
        </mat-list-item>
        <mat-list-item>
          <i class="mdi mdi-coffee" style="font-size: 1.2em;"></i>
          <span style="font-weight: 500;" class="ml-2">LICENÇAS</span>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div style="padding-top:var(--header-height); padding-bottom: 1px;">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
