<mat-toolbar color="primary" class="fixed-header position-fixed card-2">
  <mat-toolbar-row style="height: 60px;" class="d-flex flex-row">
    <i class="mdi mdi-menu" style="cursor: pointer;" (click)="toggleDrawer()  "></i>
    <img src="../assets/Caffeine logo.PNG" style="cursor: pointer;height: 66px;margin-left: 15px;" (click)="toggleDrawer()">
  </mat-toolbar-row>
</mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav class="z-depth-1-half" fixedInViewport="true" #drawer mode="side" >
        <mat-nav-list>
            <mat-list-item>
                <i class="mdi mdi-monitor-dashboard mr-2"></i>
                <p>VAI QUE FUNFA</p>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>


    <div>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>
