<div style="z-index: 21;">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/B1.png" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/B2.png" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/B3.png" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>

    <!-- First Session -->

    <div class="mt-5">
        <h1 class="d-flex justify-content-center" style="color: #fafafa;">Para começar, não poderia faltar uma boa musica de Halloween!!</h1>
        <div class="container mt-5 px-0" style="background-color: #56a4f96e;border-radius: 16px;">
            <div class="d-flex flex-row">
                <div class="col-6 d-flex p-0" style="background-color: black;border-radius: 16px 0px 0px 16px;">
                    <img src="../../../assets/album.png" style="width: 100%;height: auto;object-fit:fill;filter: blur(4px);">
                    <div class="card-absolut">
                      <div class="w-100 h-100 d-flex justify-content-end">
                        <div class="mb-3 mr-3 d-flex mt-auto justify-content-center align-items-center h-100 card-music" (click)="setCurrentSong(1)">
                          <i class="mdi mdi-play" style="font-size: 1.3em;color: white;"></i>
                        </div>
                      </div>
                    </div>
                </div>            
                <div class="d-flex flex-column align-items-center w-100 pt-5 px-5">
                    <h3 style="color: #fafafa;font-style: oblique;text-decoration: underline;">Para relembrar</h3>
                    <div class="mt-3 info-text h-100 d-flex flex-column" style=" text-align: justify;">
                        <p>A primeira vez que saímos juntos em grupo foi em uma festa de Halloween!! Você ajudou todos a melhorarem as suas fantasias e emprestou algumas das suas peças.</p>
                        <p class="mt-2">Caminhamos entre as árvores, tiramos algumas fotos e demos várias gargalhadas. Bom acabou que nao ficamos muito na festa em si, mas Freddie Mercury nunca esquece um pedaço de bolo!! </p>
                        <p class="mt-auto mb-5" style="font-style: oblique;">Musica: Coraline Theme Song</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Second Session -->

    <div class="container mt-5 px-3 d-flex flex-column" style="background-color: #56a4f96e;border-radius: 16px;">
      <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="my-3" style="color: white;">"Escolhemos Músicas Magicas para acompanhar essas guerreiras"</h2>
        <p style="color: white;">"Sou uma guerreira, que luta pelo amor e pela justiça, sou Sailor Moon!"</p>
      </div>
      <div class="d-flex flex-row">
        <div class="col-4 p-3 d-flex flex-column">
          <div class="card-magico" style="background-image: url(../../../assets/G1.png);">
            <div class="mb-3 mr-3 d-flex mt-auto ml-auto justify-content-center align-items-center card-music" (click)="setCurrentSong(2)">
              <i class="mdi mdi-play" style="font-size: 1.3em;color: white;"></i>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <p class="mt-4" style="font-style: oblique;color: white;">Musica: Deko*27 - SEKAI</p>
          </div>
        </div>
        <div class="col-4 p-3 d-flex flex-column">
          <div class="card-magico" style="background-image: url(../../../assets/G2.png);">
            <div class="mb-3 mr-3 d-flex mt-auto ml-auto justify-content-center align-items-center card-music" (click)="setCurrentSong(3)">
              <i class="mdi mdi-play" style="font-size: 1.3em;color: white;"></i>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <p class="mt-4" style="font-style: oblique;color: white;">Musica: Sailor Moon Theme on Guitar</p>
          </div>
        </div>
        <div class="col-4 p-3 d-flex flex-column">
          <div class="card-magico" style="background-image: url(../../../assets/G3.png);">
            <div class="mb-3 mr-3 d-flex mt-auto ml-auto justify-content-center align-items-center card-music" (click)="setCurrentSong(4)">
              <i class="mdi mdi-play" style="font-size: 1.3em;color: white;"></i>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <p class="mt-4" style="font-style: oblique;color: white;">Musica: REOL - 404 Not Found</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Third Section-->

    <div class="mt-5">
      <div class="container mt-5 px-0" style="background-color: #56a4f96e;border-radius: 16px;">
          <div class="d-flex flex-row">
              <div class="col-6 d-flex p-0" style="background-color: grey;border-radius: 16px 0px 0px 16px;height: 480px;">
                  <img src="../../../assets/album_2.png" style="width: 100%;height: auto;object-fit:fill;filter: blur(4px);">
                  <div class="card-absolut" style="background-image: url(../../../assets/album_2.png);">
                    <div class="w-100 h-100 d-flex justify-content-end">
                      <div class="mb-3 mr-3 d-flex mt-auto justify-content-center align-items-center h-100 card-music" (click)="setCurrentSong(5)">
                        <i class="mdi mdi-play" style="font-size: 1.3em;color: white;"></i>
                      </div>
                    </div>
                  </div>
              </div>            
              <div class="d-flex flex-column align-items-center w-100 pt-5 px-5">
                  <h3 style="color: #fafafa;font-style: oblique;text-decoration: underline;">Mémorias</h3>
                  <div class="mt-3 info-text h-100 d-flex flex-column" style=" text-align: justify;">
                      <p>A parcela de Tempo é curta, mas isso não nos impediu de fazer muitas coisas, foram festas de aniversário, filmes de terror no cinema (Ainda lembro de toda vez que eu te olhava, você estava com a mão no rosto com medo kkk) e algumas conversas no meio da noite.</p>
                      <p class="mt-2">Não posso esquecer também o primeiro cosplay que fiz, com a sua ajuda. Aquela CAF foi divertida, e espero por outras. Tem o presente feito na velocidade da luz, mesmo sabendo no fim da tarde sobre meu aniversário me fez esse desenho. Eu só tenho a lhe agradecer!</p>
                      <p class="mt-auto mb-5" style="font-style: oblique;">Musica: Lindsey Stirling - Lost Girls</p>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>

  <!-- Fourfh Section -->
  <div class="d-flex flex-row container my-5 p-0 berserk">
    <div class="card-berserk-left">
      <div class="berserk-button" style="left:27%;" (click)="setCurrentSong(6)">
        <i class="mdi mdi-play" style="font-size: 1.3em;color: white;"></i>
      </div>
      <div class="overlay-left">
        <div class="berserk-title" style="color: white;">Uma Luta pela Vida</div>
        <div class="berserk-text" style="color: white;">
          
          ”Sonhos… Todo homem tem sonhos… <br>Todo homem deseja perseguir seu sonho.<br> Isso tortura ele, mas o sonho da sentido à <br>vida dele. “
        </div>
        <div class="berserk-footer" style="color: white;">Music: Berserk Theme Song</div>
      </div>
      <img class= "berserk-img" style="border-radius: 16px 0px 0px 16px" src="../../../assets/Q2.png" alt="">
    </div>
    <div class="card-berserk-right ml-auto">
      <div class="berserk-button" style="right:27%" (click)="setCurrentSong(6)">
        <i class="mdi mdi-play" style="font-size: 1.3em;color: white;"></i>
      </div>
      <div class="overlay-right">
        <div class="berserk-title">Buscarei o meu sonho</div>
        <div class="berserk-text">Entre os milhares de camaradas e dez mil inimigos, só você…<br>Só você me fez esquecer meu sonho…</div>
        <div class="berserk-footer">Music: Berserk Theme Song</div>
      </div>
      <img class="berserk-img" style="border-radius: 0px 16px 16px 0px" src="../../../assets/Q1.png" alt="">
    </div>
  </div>

  <div class="container p-5 pb-4" style="background-color:#2c5683;border-radius: 16px;">
    <div class="d-flex justify-content-center">
      <h1 style="color: white;">Até audios podem ser música para nossos ouvidos</h1>
    </div>    
    <div id="audios" class="carousel slide mt-5" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active py-2">
          <div class="d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="audio-img" (click)="setCurrentSong(7)">
                <img class="player" src="../../../assets/player.png" style="height: 100%;width: 100%;border-radius: 500px;">
                <img class="background" src="../../../assets/carlos.jpg" style="height: 100%;width: 100%;border-radius: 500px;">
              </div>
              <div class="d-flex justify-content-center mt-5">
                <p>"Shinzou wo sasageyo! Tatakae!" - Carlos</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item  py-2">
          <div class="d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="audio-img" (click)="setCurrentSong(8)">
                <img class="player" src="../../../assets/player.png" style="height: 100%;width: 100%;border-radius: 500px;">
                <img class="background" src="../../../assets/victor.jpg" style="height: 100%;width: 100%;border-radius: 500px;">
              </div>
              <div class="d-flex justify-content-center mt-5">
                <p>"Porque fazer apenas uma surpresa, se você pode fazer várias" - Victor</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item  py-2">
          <div class="d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <div class="audio-img" (click)="setCurrentSong(9)"> 
                <img class="player" src="../../../assets/player.png" style="height: 100%;width: 100%;border-radius: 500px;">
                <img class="background" src="../../../assets/vitor.png" style="height: 100%;width: 100%;border-radius: 500px;">
              </div>
              <div class="d-flex justify-content-center mt-5">
                <p>"Lutando para dias mais felizes, mais legais, coloridinhos e brilhantes" - Vitor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Controllers -->
      <div class="w-100 d-flex justify-content-center">
        <div class="circle-controller mr-2">
          <a href='#audios' role="button" data-slide="prev">						
            <span class="carousel-control-prev-icon" aria-hidden="true" style="margin-top: 5px;margin-left: 3px;"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
        <div class="circle-controller ml-2">
          <a href='#audios' role="button" data-slide="next">						
            <span class="carousel-control-next-icon" aria-hidden="true" style="margin-top: 5px;margin-left: 6px;"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>



  <!-- SO PARA NAO GRUDAR NO FOOTER -->
  <div class="mt-5">
    <div class="container mt-5 px-0" style="background-color: #56a4f96e;border-radius: 16px;">
        <div class="d-flex flex-row">
            <div class="col-6 d-flex p-0" style="background-color: grey;border-radius: 16px 0px 0px 16px;">
                <img src="../../../assets/guts.jpg" style="width: 100%;height: auto;object-fit:fill;">
            </div>            
            <div class="d-flex flex-column align-items-center w-100 pt-5 px-5">
                <h3 style="color: #fafafa;font-style: oblique;text-decoration: underline;">Ainda Falta Um Pouco</h3>
                <div class="mt-3 info-text h-100 d-flex flex-column" style=" text-align: justify;">
                    <p>A idéia inicial era ter lhe entregue esta Action Figure do Guts, mas eu acreditei que apenas isto não era o suficente (E nao iria chegar a Tempo)</p>
                    <p class="mt-2">Então desenvolvi esse presente de aniversário para celebrar esta data mesmo de longe.</p>
                    <p class="mt-2">Isto Foi tudo, sem mais surpresas dessa vez. E aqui estao alguns links sobre a Action Figure</p>
                    <div class="mt-5 links">
                      <a href="https://portalretro.com.br/produto/figure-berserk-guts/">Link para Imagens da Action</a><br>
                      <a href="https://global.cainiao.com/detail.htm?mailNoList=LP00439379976457">Link para o localizador na China</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

    <app-footer></app-footer>
  </div>
  