<div style="z-index: 21;">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <div class="container pt-4" style="min-height: 950px;">
      <div class="row mb-3">
          <div class="col-12">
              <app-cards-carrosel
              [identifier]="'TEST'"
              [title]="'Músicas'"
              [cards_1]="obj[0].card"
              [cards_2]="obj[1].card"
              [cards_3]="obj[0].card"
              >
            </app-cards-carrosel>
            <app-cards-carrosel
            [identifier]="'TESTE'"
            [title]="'CARROUSELL 2'"
            [cards_1]="obj[0].card"
            [cards_2]="obj[1].card"
            [cards_3]="obj[0].card"
            >
          </app-cards-carrosel>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
