<div style="z-index: 21;">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <div class="container pt-4" style="min-height: 950px;">
      <div class="row mb-3">
          <div class="col-12">
              <app-cards-carrosel
              [identifier]="'TEST'"
              [title]="'Musicas'"
              [cards_1]="musics[0]"
              [cards_2]="musics[1]"
              [cards_3]="musics[2]"
              >
            </app-cards-carrosel>
            <app-cards-carrosel
            [identifier]="'TESTE1'"
            [title]="'Musicas Recentes'"
            [cards_1]="musics1[0]"
            [cards_2]="musics1[1]"
            [cards_3]="musics1[2]"
            >
          </app-cards-carrosel>
          <app-cards-carrosel
          [identifier]="'TESTE2'"
          [title]="'Musicas Populares'"
          [cards_1]="musics2[0]"
          [cards_2]="musics2[1]"
          [cards_3]="musics2[2]"
          >
        </app-cards-carrosel>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
