<div class="container">
	<div id="dataInfo">
		<h2>Information</h2>
		<div id={{identifier}} class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active py-4 m-x1">
					<div class="row">
						<div class="col-md-3">
							<div class="card-2 music-card-lg" [ngStyle]="{'height': height}">
								<img class="music-card-lg" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg" width="100"
								 height="100" alt="Card image cap">
							</div>
						</div>
						<div class="col-md-3" >
							<div class="card-2 music-card-lg" [ngStyle]="{'height': height}">
								<img class="music-card-lg" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg" width="100" alt="Card image cap">
							</div>
						</div>
						<div class="col-md-3">
							<div class="card-2 music-card-lg" [ngStyle]="{'height': height}">
								<img class="music-card-lg" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg" width="100" alt="Card image cap">
							</div>
						</div>
						<div class="col-md-3">
							<div class="card-2 music-card-lg" [ngStyle]="{'height': height}">
								<img class="music-card-lg" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg" width="100" alt="Card image cap">
							</div>
            			</div>
					</div>
				</div>
				<div class="carousel-item py-4 m-x1">
					<div class="row">
						<div class="col-md-3">
							<div class="card-2 music-card-lg" [ngStyle]="{'height': height}">
								<img class="music-card-lg" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" width="100"
								 height="100" alt="Card image cap">
							</div>
						</div>
						<div class="col-md-3" >
							<div class="card-2 music-card-lg" [ngStyle]="{'height': height}">
								<img class="music-card-lg" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" width="100" alt="Card image cap">
							</div>
						</div>
						<div class="col-md-3">
							<div class="card-2 music-card-lg" [ngStyle]="{'height': height}">
								<img class="music-card-lg" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" width="100" alt="Card image cap">
							</div>
						</div>
						<div class="col-md-3">
							<div class="card-2 music-card-lg" [ngStyle]="{'height': height}">
								<img class="music-card-lg" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" width="100" alt="Card image cap">
							</div>
            			</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href='#{{identifier}}' role="button" data-slide="prev">
				<i class="mdi mdi-account" style="font-size: 36px;"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#{{identifier}}" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>


		<div id="myCarousel2" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active py-4 m-x1">
					<div class="row">
						<div class="col-md-3">
							<div class="card-2 music-card-lg" #musicCard style="height: 0px;">
								<img class="music-card-lg" src="https://images.freeimages.com/images/large-previews/85a/daisy-s-1375598.jpg" width="100"
								 height="100" alt="Card image cap">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

	</div>


</div>