
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$caffeineWebPanel-primary: mat-palette($mat-indigo);
$caffeineWebPanel-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$caffeineWebPanel-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$caffeineWebPanel-theme: mat-light-theme($caffeineWebPanel-primary, $caffeineWebPanel-accent, $caffeineWebPanel-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($caffeineWebPanel-theme);

/* You can add global styles to this file, and also import other style files */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

$fontConfig: (
    display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
    display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
    display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
    display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
    headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
    title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
    subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
    subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
    body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
    body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
    button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
    caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
    input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);


@include mat-core($fontConfig);

// Theme Config

body {
    --primary-color: #4686FC;
    --primary-lighter-color: #7B1FA2;
    --primary-darker-color: #6A1B9A;
    --text-primary-color: $light-primary-text;
    --text-primary-lighter-color: $dark-primary-text;
    --text-primary-darker-color: $light-primary-text;
}

$mat-primary: (
    main: #4686FC,
    lighter: #7B1FA2,
    darker: #6A1B9A,
    200: #6A1B9A, // For slide toggle,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
    --accent-color: #cccccc;
    --accent-lighter-color: #f0f0f0;
    --accent-darker-color: #b9b9b9;
    --text-accent-color: $dark-primary-text;
    --text-accent-lighter-color: $dark-primary-text;
    --text-accent-darker-color: $dark-primary-text;
}

$mat-accent: (
    main: #cccccc,
    lighter: #f0f0f0,
    darker: #b9b9b9,
    200: #cccccc, // For slide toggle,
    contrast : (
        main: $dark-primary-text,
        lighter: $dark-primary-text,
        darker: $dark-primary-text,
    )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
    --warn-color: #daad33;
    --warn-lighter-color: #f4e6c2;
    --warn-darker-color: #cb9320;
    --text-warn-color: $dark-primary-text;
    --text-warn-lighter-color: $dark-primary-text;
    --text-warn-darker-color: $dark-primary-text;
}

$mat-warn: (
    main: #0eda63,
    lighter: #8ee9b4,
    darker: #cb9320,
    200: #daad33, // For slide toggle,
    contrast : (
        main: $dark-primary-text,
        lighter: $dark-primary-text,
        darker: $dark-primary-text,
    )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);
;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
    @include angular-material-theme($altTheme);
}


// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
    padding: 0 1.15em;
    margin: 0 .65em;
    min-width: 3em;
    line-height: 36.4px
}

.mat-standard-chip {
    padding: .5em .85em;
    min-height: 2.5em;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}


.mat-option {
    font-family: var(--f3-font);
    font-weight: 500;
    color: #2c2c2c;
    font-size: 0.82em !important;
}
.mat-sidenav-container { background-color: #E8EAED; }